body { font-family: arial; padding: 0; margin: 0; background: #54d6c2; }

h1 { font-size: 4em; }
.user-input,
.user-input input { font-size: 2em; }
.user-input p { font-size: 1.5em; }
.menu-top { font-size: 2em; }
.stats { font-size: 2em; }

.back-view { margin: 0 auto; }
.back-view h1 { padding: 0; margin: 0; }
.menu-top,
.menu-header { color: #000; text-align: center; }
.menu-top { background: #e17a7a; color: #000; text-align: center; border: solid 2px #8c1616; padding: 5px 0; border-radius: 5px; }
.menu-top a { color: #830404; font-weight: bold; }

.how-many-items { background: #fff; border: solid 2px #000; text-align: center; height: 500px; }
.how-many-items img { height: 30%; }

.user-input { text-align: center; }
.user-input .text { font-size: 3em; }
.user-input .text.neutral { background: #fff; }
.user-input .text.wrong { background: #d07c7c; }
.user-input .text.right { background: #9eda92; }

.user-input input[type=number],
.user-input input[type=text] { width: 95%; margin: 0 auto; border: solid 2px #000; background: #ff0; text-align: center; }
.user-input input[type=button] { width: 95%; margin: 0 auto; padding: 5px; cursor: pointer; }

.user-input input[type=button].check-answer { border: solid 2px #15579b; background: #7ba6d2; color: #031e39; }
.user-input input[type=button].new-question { border: solid 2px #38a921; background: #88df77; color: #0c3903; }

.stats { padding: 10px; }
.stats .left { float: left; }
.stats .right { float: right; }

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
