.game-view { background: #fff; width: 100%; margin: 20px auto; border: solid 2px #000; min-height: 800px; padding-top: 50px; padding-bottom: 50px; }
.math-question { width: 90%; margin: 0 auto; font-size: 2.5em; text-align: center; }

input[type=button].check-answer { width: 100%; margin: 0 auto; display: block; background: #6c95e0; border: solid 2px #355ca5; color: #0e2d67; font-size: 4em; }
.result { font-size: 2em; text-align: center; padding-top: 20px; }
#right-wrong { font-size: 1.0em; text-align: center; border: solid 2px #000; border-radius: 10px; padding: 10px; }
.game-view { position: relative; }
.game-view .stats { position: absolute; bottom: 0; text-align: left; padding-left: 50px; width: 100%; }

.check-answer-holder { margin: 20px 0; }

.math-problem { text-align: right; width: 150px; display: block; margin: 0 auto; 
    margin-bottom: 60px; }

.math-problem .fractionA,
.math-problem .fractionB,
.math-problem .math-operator { float: left; width: 20%; }

.math-problem .fractionA #num1 { border-bottom: solid 2px #000; }
.math-problem .fractionB #num2 { border-bottom: solid 2px #000; }
.math-problem .math-operator { padding-top: 30px; }

#answerNum {}
#answerDenom {}

#answerNum,
#answerDenom { background: #ff0; width: 200px; border: none; }

.fraction-divider { display: block; clear: both; height: 2px; width: 100%; margin: 0 auto; background: #000; }

.answer { margin: 0 auto; }

.math-problem{ float: left; width: 50%; font-size: 2em;  }
.answer { float: left; width: 50%; }

input[type=number] { margin: 0 auto; display: block; font-size: 2em; text-align: center; }
