.game-view { background: #fff; width: 100%; margin: 20px auto; border: solid 2px #000; min-height: 800px; padding-top: 50px; padding-bottom: 50px; }
.math-question { width: 90%; margin: 0 auto; font-size: 2.5em; text-align: center; }
input[type=number] { width: 100%; margin: 0 auto; display: block; font-size: 4em; text-align: center; background: none; border: solid 2px #000; }
.answer { padding-bottom:10px; }
input[type=button].check-answer { width: 100%; margin: 0 auto; display: block; background: #6c95e0; border: solid 2px #355ca5; color: #0e2d67; font-size: 4em; }
.result { font-size: 2em; text-align: center; padding-top: 20px; }
#right-wrong { font-size: 1.0em; text-align: center; border: solid 2px #000; border-radius: 10px; padding: 10px; }
.game-view { position: relative; }
.game-view .stats { position: absolute; bottom: 0; text-align: left; padding-left: 50px; width: 100%; }
