body { font-family: sans-serif; background-color: #54d6c2; background-image: url( "../page-gfx/school.png"); }
.main { width: 90%; margin: 0 auto; }

h1, h2, h3 { font-family: 'Fredoka One', cursive; text-align: center; font-weight: normal; }
h2 { color: #0f419c; font-size: 2.0em; }

h1.page-title { font-size: 2.5em; color: #c04242; padding: 0; margin: 0;
    line-height: 100px; }
div.page-title { background: #ffffff; border: solid 5px #000000; border-radius: 15px;
    width: 50%; height: 100px; margin: 0 auto;
    position: relative; top: -50px; padding: 5px; }

section.main { margin-top: 50px; border-radius: 15px; border: solid 5px #000000;
    font-family: sans-serif; background: #faf6f3; padding: 20px; }

img.logo { height: 100px; position: absolute; left: 5px; top: 5px; }
.clear { clear: both; }

footer { font-size: 8pt; text-align: center; color: #00000066; }
footer a { color: #00000066; }

hr { width: 75%; border: none; background: #54d6c2; height: 5px; }

.category { margin-bottom: 50px; }
.game-row { text-align: center; }
.game-row .game-entry { background: #ffffff; border: solid 5px #000000;
    border-radius: 15px; padding: 15px; margin: 15px;
    width: 250px; float: left; text-align: center; }
.game-row .game-entry a { font-family: 'Fredoka One', cursive;
    text-decoration: none; font-size: 1.3em; color: #0e8a2b; }
.game-row .game-entry img { width: 90%; }

.quick-button,
.quick-button a { font-family: 'Fredoka One', cursive; text-decoration: none; color: #000000; font-weight: normal; }
.quick-button { width: 60px; }


.float-left { float: left; }
.float-right { float: right; }
.center-me { text-align: center; }

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
