body { font-family: sans-serif; background-color: #54d6c2; background-image: url( "../page-gfx/school.png"); }

header { text-align: center; }
header img {  }
header h1 { text-align: center; }

.main { text-align: center; }
.main h2 { background: #7c0d2d; color: #fff; font-size: 2em; }
.main a { color: #7c0d2d; font-weight: bold; font-size: 1em; }
.main img { border: solid 2px #7c0d2d; width: 100%; }

footer { text-align: center; }
footer a { color: #7c0d2d; font-weight: bold; font-size: 1em; }

hr { border: none; height: 2px; background: #7c0d2d; }

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
